main.project-page {
  width: min(1000px, calc(100% - 2em));
  max-width: 1000px;

  & > .project-container {
    margin: 0 auto;

    width: min(1000px, calc(100% - 2em));
    max-width: 1000px;

    & > .project-banner {
      margin: -1em;

      img {
        -webkit-box-shadow: 0px 10px 25px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 25px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 10px 25px -6px rgba(0, 0, 0, 0.75);

        border-radius: 0.5em;

        object-fit: contain;
        max-height: 130px;
        width: 100%;
      }
    }

    & > .project-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & > .tags {
        text-align: left;
        max-width: 320px;
      }
    }

    & > .project-badges {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      gap: 1em;
    }

    & > .project-content {
      max-width: 1000px;

      & > * {
        max-width: 1000px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main.project-page {
    width: min(1000px, calc(100% - 2em));
    max-width: 100%;

    & > .project-container {
      width: min(1000px, 100%);
      max-width: 1000px;

      & > .project-banner {
        margin: -1em;

        img {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;

          border-radius: 0;
          max-height: 4em;
        }
      }

      & > .project-header {
        background: linear-gradient(
          rgb(var(--ui-monochrome-05-rgb)),
          rgb(var(--ui-monochrome-01-rgb))
        );

        margin: -1em;
        flex-direction: column;
        padding-bottom: 1em;
      }

      & > .project-content {
        width: min(1000px, calc(100% - 2em));
        max-width: 1000px;
        word-wrap: break-word;

        & > *
        {
          width: min(1000px, 100%);
          max-width: 100%;
        }

        & > pre,
        & > pre > code {
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;

          overflow-x: auto;
        }
      }
    }
  }
}
