main.project-page {
  width: min(1000px, calc(100% - 2em));
  max-width: 1000px;

  & > .project-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin: 0 auto;

    width: min(1000px, calc(100% - 2em));
    max-width: 1000px;

    & > .project-banner {
      background: linear-gradient(
        rgb(var(--ui-monochrome-05-rgb)),
        rgb(var(--ui-monochrome-01-rgb))
      );

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;

      img {
        filter: drop-shadow(0px 0px 6px var(--ui-monochrome-05-hex));

        border: 1px solid var(--ui-monochrome-05-hex);
        border-radius: 0.5em;

        width: 100%;

        object-fit: cover;
        max-height: 130px;
      }
    }

    & > .project-header {
      width: calc(100% - 2em);

      background-color: rgba(var(--ui-monochrome-04-rgb), 1.00);
      border: 1px solid var(--ui-monochrome-05-hex);
      border-radius: 0.5em;

      filter: drop-shadow(0px 0px 6px var(--ui-monochrome-04-hex));

      padding: 0 1em;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & > .tags {
        text-align: left;
        max-width: 320px;
      }
    }

    & > .project-badges {
      background-color: rgba(var(--ui-monochrome-04-rgb), 1.00);
      border: 1px solid var(--ui-monochrome-05-hex);
      border-radius: 0.5em;

      filter: drop-shadow(0px 0px 6px var(--ui-monochrome-04-hex));

      padding: 1em;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1em;
    }

    & > .project-content {
      max-width: 1000px;

      & > * {
        max-width: 1000px;
      }

      & > h1 {
        border-left: 2px solid var(--syntax-gold);
        background: rgba(var(--ui-monochrome-04-rgb), 1);
        background: -moz-linear-gradient(90deg, rgba(var(--ui-monochrome-04-rgb), 1) 0%, rgb(var(--ui-monochrome-01-rgb)) 100%);
        background: -webkit-linear-gradient(90deg, rgba(var(--ui-monochrome-04-rgb), 1) 0%, rgb(var(--ui-monochrome-01-rgb)) 100%);
        background: linear-gradient(90deg, rgba(var(--ui-monochrome-04-rgb), 1) 0%, rgb(var(--ui-monochrome-01-rgb)) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#02a60c", GradientType=1);

        border-radius: 2px;

        padding: 0.5em 1em;
      }

      & > h2 {
        display: flex;
        gap: 0.5em;

        color: var(--syntax-gold);
      }

      & > p {
        text-indent: 1em;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main.project-page {
    width: min(1000px, calc(100% - 2em));
    max-width: 100%;

    & > .project-container {
      padding-top: 1em;

      width: min(1000px, 100%);
      max-width: 1000px;

      & > .project-banner {
        margin: -1em auto 0;

        img {
          object-fit: cover;

          border-radius: 0.5em;

          max-height: 130px;
          min-height: 4em;
        }
      }

      & > .project-header {
        background: linear-gradient(
          rgb(var(--ui-monochrome-05-rgb)),
          rgb(var(--ui-monochrome-01-rgb))
        );

        flex-direction: column;

        padding-bottom: 0.7em;

        & > h2 {
          margin: 0.7em auto;
        }
      }

      & > .project-badges {
        background: linear-gradient(
          rgb(var(--ui-monochrome-05-rgb)),
          rgb(var(--ui-monochrome-01-rgb))
        );
      }

      & > .project-content {
        max-width: 1000px;

        word-wrap: break-word;

        & > * {
          max-width: 100%;
        }

        & > pre,
        & > pre > code {
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;

          overflow-x: auto;
        }
      }
    }
  }
}
