---
const { href, title } = Astro.props;
---

<a
  class={`p-2 bg-slate-800 hover:bg-indigo-800 text-slate-100 transition-all flex justify-center rounded-lg`}
  href={href}
  target='_blank'
  rel='noopener'
  title={title}
>
  <slot />
</a>
