---
const { element_class, href, title } = Astro.props;
---

<a
  class={`flex justify-center transition-all rounded-lg hover:bg-neutral-700 rounded-lg p-2 ${element_class}`}
  href={href}
  target='_blank'
  rel='noopener'
  title={title}
>
  <slot />
</a>
