---
const { href, title } = Astro.props;
---

<a
  class={`p-2 bg-neutral-800 text-slate-100 transition-all flex justify-center rounded-lg hover:bg-emerald-600`}
  href={href}
  target='_blank'
  rel='noopener'
  title={title}
>
  <slot />
</a>
