---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/index.astro';

import { format_date } from '../../util/format_date';

import Calendar from '../../svg/calendar.astro';
import Clock from '../../svg/clock.astro';

export async function getStaticPaths() {
    const articlesEntries = await getCollection('articles');

    return articlesEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<Layout title={entry.data.title}>
    <section class="max-w-2xl w-full mx-auto flex flex-col gap-4">
        <div class="flex flex-row flex-wrap gap-6 items-center text-xs">
            <div
                class="flex flex-row flex-wrap items-center gap-1 text-neutral-600 dark:text-neutral-400"
            >
                <Calendar />
                {format_date(new Date(entry.data.date))}
            </div>
            <div
                class="flex flex-row flex-wrap items-center gap-1 text-neutral-600 dark:text-neutral-400"
            >
                <Clock />
                {remarkPluginFrontmatter.minutesRead}
            </div>
        </div>

        <article class="prose dark:prose-invert">
            <h1>{entry.data.title}</h1>

            <Content />
        </article>
    </section>
</Layout>
