---
import { getCollection } from 'astro:content';

import { config } from '../../config';

import Layout from '../../layouts/Layout.astro';
import Card from '../../components/card/card.astro';

const posts = await getCollection('blog');

const LAYOUT_TITLE = `${config.name} — Blog Posts`;
---

<Layout title={LAYOUT_TITLE}>
  <main>
    <h1 class='separator'>
      <span>Blog Posts</span>
    </h1>

    <div>
      I like to talk about things that generally pique my interest, and you can
      read about those things here. These topics typically range from
      programming to productivity, but anything goes!
    </div>
    <br />

    <div class='card-container'>
      {
        posts &&
          posts
            .sort((a: any, b: any) => b.data.timestamp - a.data.timestamp)
            .map((proj: any) => <Card {...proj} type='blog' />)
      }
    </div>
  </main>
</Layout>
