.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .home-description {
    text-align: center;

    & > hr {
      margin: 1.6em auto 0;
      width: 70%;
    }

    & > .home-profile {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1em;

      & > img {
        border-radius: 0.5em;
      }

      & > .home-profile-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 0.69em;

        & > .home-profile-info {
          & > h1,
          & > h2 {
            margin: 0.69em 0;
          }

          h2 {
            color: var(--ui-monochrome-06-hex);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .home {
    & > .home-description {
      hr {
        margin: 1em auto;
        width: 70%;
      }
    }
  }
}
