---
import Link from '../link/link.astro';
---

<nav class="flex flex-row flex-wrap gap-8">
    <Link href="/about" font_size="text-lg">About</Link>
    <Link href="/articles" font_size="text-lg">Articles</Link>
    <Link href="/experience" font_size="text-lg">Experience</Link>
    <Link href="/projects" font_size="text-lg">Projects</Link>
</nav>
