---
import { Image } from 'astro:assets';

import { config } from '../_config';

import Layout from '../layouts/index.astro';

import Link from '../components/link/link.astro';
---

<Layout title="Articles">
    <section class="flex flex-col gap-10 w-full max-w-2xl mx-auto">
        <div class="prose prose-zinc dark:prose-invert max-w-none mx-auto">
            <h1>Projects help keep things entertaining.</h1>
        </div>

        <section class="flex flex-col gap-14">
            <>Test</>
        </section>
    </section>
</Layout>
