.home {
  display: flex;
  flex-direction: row;
  gap: 3em;

  & > .home-description {
    width: 70%;
    text-align: center;
  }

  & > .home-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-items: center;

    text-align: center;

    max-width: 300px;

    & > img {
      box-shadow: 0 0px 12px 0px rgba(var(--ui-monochrome-06-rgb), 0.75),
        0 2px 4px 0px rgba(var(--ui-monochrome-06-rgb), 0.75);

      border-radius: 0.5em;
    }

    & > .home-profile-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      padding-bottom: 0em;

      & > .home-profile-info {
        & > h1,
        & > h2 {
          margin: 0.5em 0;
        }

        h2 {
          &:nth-child(odd) {
            color: var(--syntax-gold);
          }

          &:nth-child(even) {
            font-weight: normal;
          }
        }
      }
    }
  }
}

.general-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  width: min(1000px, calc(100% - 2em));
  max-width: 1000px;

  &>.general-container {
    margin: 0 auto;

    width: min(1000px, calc(100% - 2em));
    max-width: 1000px;

    &>.general-head {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2em;

      width: 100%;

      &>.general-banner {
        display: flex;

        &>img {
          filter: drop-shadow(0 4px 6px rgba(214, 213, 213, 0.3));

          border-radius: 0.5em;

          max-height: 100px;
          max-width: 100px;

          object-fit: cover;
        }
      }

      &>.general-header {
        display: flex;
        flex-direction: row;
        flex: 1;

        min-height: 100px;

        &>.title {
          display: flex;
          flex-direction: column;

          height: 100%;

          justify-content: space-around;

          &>* {
            margin: 0;
            padding: 0;
          }

          &>h4 {
            display: flex;
            gap: 1em;
          }
        }

        &>.tags {
          margin-left: auto;
        }
      }
    }

    &>.general-content {
      max-width: 1000px;

      &>* {
        max-width: 1000px;
      }

      &>h1 {
        border-left: 2px solid var(--syntax-gold);
        background: rgba(var(--ui-monochrome-04-rgb), 1);
        background: -moz-linear-gradient(90deg, rgba(var(--ui-monochrome-04-rgb), 1) 0%, rgb(var(--ui-monochrome-01-rgb)) 100%);
        background: -webkit-linear-gradient(90deg, rgba(var(--ui-monochrome-04-rgb), 1) 0%, rgb(var(--ui-monochrome-01-rgb)) 100%);
        background: linear-gradient(90deg, rgba(var(--ui-monochrome-04-rgb), 1) 0%, rgb(var(--ui-monochrome-01-rgb)) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#02a60c", GradientType=1);

        border-radius: 2px;

        padding: 0.5em 1em;
      }

      &>h2 {
        display: flex;
        gap: 0.5em;

        color: var(--syntax-gold);
      }

      &>p {
        text-indent: 1em;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .general-page {
    width: min(1000px, calc(100% - 2em));
    max-width: 100%;

    &>.general-container {
      width: min(1000px, 100%);
      max-width: 1000px;

      &>.general-head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;

        width: 100%;
      }

      &>.general-content {
        max-width: 1000px;

        word-wrap: break-word;

        &>* {
          max-width: 100%;
        }

        &>pre,
        &>pre>code {
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;

          overflow-x: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .home {
    & > .home-description {
      hr {
        margin: 1em auto;
        width: 70%;
      }
    }

    & > .home-profile
    {
      img
      {
        height: auto;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .home {
      flex-direction: column;
      align-items: center;
  }
}
