.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  position: relative;
  z-index: 2;

  min-height: 100%;
  height: calc(100% - 1em);

  width: calc(100% - 1em);
  max-width: 1100px;

  margin: 1em auto;

  & > .content
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    max-width: calc(100% - 310px - 3em);

    & > .general-page {
      background-color: rgba(var(--ui-monochrome-04-rgb), 0.75);

      box-shadow: 0 0px 12px 0px rgba(var(--ui-monochrome-06-rgb), 0.1),
                  0 2px 4px 0px rgba(var(--ui-monochrome-06-rgb), 0.1);

      border: 1px solid rgba(var(--ui-monochrome-05-rgb), 0.75);
      border-radius: 0.5em;
      padding: 1em;

      display: flex;
      flex-direction: column;
      justify-content: center;

      margin: 0 auto;

      width: min(1000px, calc(100% - 2em));
      max-width: 1000px;

      &.absolute-center {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        margin-block-start: 0;
        line-height: 1.75em;
      }

      pre {
        background: rgba(var(--ui-monochrome-03-rgb), 1.00);
        border-radius: 0.5em;
        margin: 0;
        margin-bottom: 1em;
        padding: 0.5em;
        white-space: pre-wrap;
      }

      blockquote {
        background: rgba(var(--ui-monochrome-03-rgb), 0.5);
        border-left: 2px solid var(--ui-dark-pink);

        border-radius: 4px 0 0 4px;

        padding: 0.5em 1em;
        margin: 0;
        margin-bottom: 1em;

        & > p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  & > .profile
  {
    align-self: flex-start;

    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    max-width: 300px;
    padding: 1em;

    position: relative;

    & > *
    {
      margin: 0;
      padding: 0;
    }

    & > img
    {
      box-shadow: 0 0px 12px 0px rgba(var(--ui-monochrome-06-rgb), 0.75),
                  0 2px 4px 0px rgba(var(--ui-monochrome-06-rgb), 0.75);

      border-radius: 0.5em;
    }

    & > .profile-occupation
    {
      color: var(--syntax-dark-grey);

      font-size: 1.25em;
    }

    & > .profile-description
    {
      color: var(--syntax-grey);

      font-size: 1em;

      &::before,
      &::after
      {
        content: '"';
      }
    }
  }
}

@media screen and (max-width: 1050px)
{
  .container
  {
    flex-direction: column;

    & > .profile,
    & > .content
    {
      align-self: center;
    }

    & > .content
    {
      max-width: 100%;
    }
  }
}

