:root {
  --ui-monochrome-01-hex: #16161c;
  --ui-monochrome-01-rgb: 22, 22, 28;

  --ui-monochrome-02-hex: #1a1c23;
  --ui-monochrome-02-rgb: 26, 28, 35;

  --ui-monochrome-03-hex: #1c1e26;
  --ui-monochrome-03-rgb: 28, 30, 38;

  --ui-monochrome-04-hex: #232530;
  --ui-monochrome-04-rgb: 35, 37, 48;

  --ui-monochrome-05-hex: #2e303e;
  --ui-monochrome-05-rgb: 46, 48, 62;

  --ui-monochrome-06-hex: #6c6f93;
  --ui-monochrome-06-rgb: 108, 111, 147;

  --ui-dark-pink: #E9436F;
  --ui-light-pink: #E95379;
  --ui-red: #F43E5C;
  --ui-red-rgb: 244, 62, 92;
  --ui-light-green: #09F7A0;
  --ui-dark-green: #27D796;
  --ui-blue: #21BFC2;
  --ui-gold: #FAB28E;

  --syntax-purple: #B877DB;
  --syntax-blue: #25B2BC;
  --syntax-red: #E95678;
  --syntax-orange: #F09383;
  --syntax-gold: #FAB795;
  --syntax-yellow: #FAC29A;

  --syntax-dark-grey: #a3a3a3;
  --syntax-grey: #D3D3D3;
  --syntax-white: #fffc;
  --syntax-black: #000c;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: bold;
  text-decoration: none;
  transition: 100ms ease-in-out;

  word-wrap: break-word;

  padding-bottom: 1px;
  border-bottom: 1px solid var(--ui-dark-pink);
  color: var(--ui-dark-pink);

  &:hover {
    border-color: var(--ui-light-pink);
    color: var(--ui-light-pink);
  }
}

hr {
  background-color: rgba(var(--ui-monochrome-01-rgb), 1.00);
  background-image: linear-gradient(to right,
      rgba(var(--ui-monochrome-01-rgb), 0.99),
      rgba(var(--ui-monochrome-06-rgb), 1.00),
      rgba(var(--ui-monochrome-01-rgb), 0.99));

  height: 1px;
  max-width: 1000px;
  width: min(1000px, 100%);

  border: 0;
  margin: 0.75em auto;
}

html {
  background: rgb(var(--ui-monochrome-01-rgb));
  background: -moz-radial-gradient(circle, rgb(var(--ui-monochrome-01-rgb)) 0%, rgb(var(--ui-monochrome-02-rgb)) 50%, rgb(var(--ui-monochrome-03-rgb)) 100%);
  background: -webkit-radial-gradient(circle, rgb(var(--ui-monochrome-01-rgb)) 0%, rgb(var(--ui-monochrome-02-rgb)) 50%, rgb(var(--ui-monochrome-03-rgb)) 100%);
  background: radial-gradient(circle, rgb(var(--ui-monochrome-01-rgb)) 0%, rgb(var(--ui-monochrome-02-rgb)) 50%, rgb(var(--ui-monochrome-03-rgb)) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16161c",endColorstr="#1c1e26",GradientType=1);

  min-height: 100%;

  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;

  & > .gradient-container
  {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    & > .gradient
    {
      --size: 500px;
      --speed: 30s;
      --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

      width: var(--size);
      height: var(--size);
      filter: blur(calc(var(--size) / 5));
      background-image: linear-gradient(var(--ui-red), var(--ui-gold));
      animation: rotate var(--speed) var(--easing) alternate infinite;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }

  & > .container {
    main {
      flex: 1 0 auto;

      margin: 0 auto;
      padding: 1em;

      width: min(1000px, calc(100% - 2em));
    }
  }
}



/**
 * Page headers/separators
 */
.separator {
  display: flex;

  &::before {
    background-color: var(--syntax-gold);
    background-image: linear-gradient(left, rgb(var(--ui-monochrome-01-rgb)) 2%, var(--syntax-gold) 50%);
    background-image: -o-linear-gradient(left,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--syntax-gold) 50%);
    background-image: -moz-linear-gradient(left,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--syntax-gold) 50%);
    background-image: -webkit-linear-gradient(left,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--syntax-gold) 50%);
    background-image: -ms-linear-gradient(left,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--syntax-gold) 50%);
    background-image: -webkit-gradient(linear,
        left bottom,
        right bottom,
        color-stop(0.02, rgb(var(--ui-monochrome-01-rgb))),
        color-stop(0.5, var(--syntax-gold)));

    content: '';
    display: block;

    transform: translateY(12px);

    height: 1px;

    min-width: 60px;
    width: 60px;
    flex: 60px;
  }

  &::after {
    background-color: var(--syntax-gold);
    background-image: linear-gradient(right, rgb(var(--ui-monochrome-01-rgb)) 2%, var(--syntax-gold) 50%);
    background-image: -o-linear-gradient(right,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--syntax-gold) 50%);
    background-image: -moz-linear-gradient(right,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--syntax-gold) 50%);
    background-image: -webkit-linear-gradient(right,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--syntax-gold) 50%);
    background-image: -ms-linear-gradient(right,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--syntax-gold) 50%);
    background-image: -webkit-gradient(linear,
        right bottom,
        left bottom,
        color-stop(0.02, rgb(var(--ui-monochrome-01-rgb))),
        color-stop(0.5, var(--syntax-gold)));

    content: '';
    display: block;

    transform: translateY(12px);
    height: 1px;

    flex: 100;
  }

  &>span {
    display: flex;
    flex: auto;
    padding: 0 10px;
  }
}



/**
 * Styled buttons, links, and inputs.
 */
.input-field,
button,
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  display: grid;
  grid-auto-flow: column;

  border: none;
  border-radius: 0.5em;

  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .2px;

  height: 38px;
  max-width: 250px;

  margin: 0;
  padding: 0 0.5rem;
  position: relative;
  text-align: unset;

  transition: opacity .25s, color .25s, background-color .25s, box-shadow .25s;

  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;

  background-color: #ffffff1a;
  color: #FFFc;

  &::before {
    content: " ";
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 3;

    height: 100%;
    width: 100%;

    background-color: #fff0;
    box-shadow: inset 0 0 0 1px #fff0;
    transition: box-shadow .25s, background-color .25s;

    border-radius: 0.5em;
  }

  &::after {
    content: " ";
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 3;

    box-shadow: 0 0 0 2px #fff0;

    transform: scale(1.021) translate3d(-2px, -2px, 0);
    transition: box-shadow .25s, transform .25s;

    height: calc(100% + 4px);
    width: calc(100% + 4px);

    border-radius: 0.5em;
  }

  &::active {
    border-radius: 0.5em;
    background-color: #FFF6;
    color: #FFF;
    z-index: 2;

    &::before {
      background-color: #FFF3;
      box-shadow: inset 0 0 0 1px var(--syntax-white);
    }

    &::after {
      box-shadow: 0 0 0 2px var(--syntax-white);
      transform: scale(1) translate3d(-2px, -2px, 0)
    }
  }

  &.disabled {
    background-color: #FFFFFF0D;
    color: #FFF6;

    cursor: default;
    pointer-events: none;
  }

  &.gap {
    gap: 1em;
  }

  &>.text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &>.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &>svg {
      stroke: var(--syntax-grey);

      height: 24px;
      width: 24px;
    }
  }
}



/**
 * Media queries
 */
@media (hover: hover) {
  .input-field:hover,
  button:hover,
  .button:hover {
    background-color: rgba(var(--ui-monochrome-01-rgb), 0.2);
    color: #FFF;
    z-index: 2
  }

  .input-field:hover:before,
  button:hover:before,
  .button:hover:before {
    background-color: rgba(var(--ui-monochrome-06-rgb), 0.5);
    box-shadow: inset 0 0 0 1px var(--syntax-white);
  }

  .input-field:hover:after,
  button:hover:after,
  .button:hover:after {
    box-shadow: 0 0 0 2px var(--syntax-white);
    transform: scale(1) translate3d(-2px, -2px, 0)
  }
}

@media screen and (max-width: 200px) {
  .separator {
    display: flex;

    &::before {
      content: '';

      display: none;
    }

    &>span {
      display: flex;
      flex: auto;
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 450px) {
  hr {
    margin: 1em auto;
  }
}

@media screen and (max-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1050px)
{
  body > .gradient-container
  {
    align-items: flex-end;
  }
}
