---
import Button from '../button/button.astro';
---

<Button id="theme-toggle">
    <svg
        id="theme-toggle-dark-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
        ></path>
    </svg>

    <svg
        id="theme-toggle-light-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"
        ></path>
    </svg>
</Button>

<script>
    const themeToggleDarkIcon = document.getElementById(
        'theme-toggle-dark-icon'
    );
    const themeToggleLightIcon = document.getElementById(
        'theme-toggle-light-icon'
    );
    const themeToggleBtn = document.getElementById('theme-toggle');
    const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)');
    const STORAGE_KEY = 'jdm-site-theme';

    function toggleTheme(activeTheme: string) {
        const isDarkMode = activeTheme === 'dark';
        document.documentElement.classList.toggle('dark', isDarkMode);
        document.documentElement.classList.toggle('light', !isDarkMode);
        localStorage.setItem(STORAGE_KEY, activeTheme);
        themeToggleDarkIcon?.classList.toggle('hidden', isDarkMode);
        themeToggleLightIcon?.classList.toggle('hidden', !isDarkMode);
    }

    if (
        localStorage.getItem(STORAGE_KEY) === 'dark' ||
        (!localStorage[STORAGE_KEY] && prefersDarkMode.matches)
    ) {
        themeToggleLightIcon?.classList.add('hidden');
    } else {
        themeToggleDarkIcon?.classList.add('hidden');
    }

    themeToggleBtn?.addEventListener('click', function () {
        const activeTheme =
            localStorage.getItem(STORAGE_KEY) === 'dark' ? 'light' : 'dark';

        toggleTheme(activeTheme);
    });

    toggleTheme(
        localStorage.getItem(STORAGE_KEY) ??
            (prefersDarkMode.matches ? 'dark' : 'light')
    );

    const theme = (() => {
        if (
            typeof localStorage !== 'undefined' &&
            localStorage.getItem('jdm-site-theme')
        ) {
            return localStorage.getItem('jdm-site-theme');
        }

        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
        }

        return 'light';
    })();

    if (theme === 'light') {
        document.documentElement.classList.remove('dark');
    } else {
        document.documentElement.classList.add('dark');
    }

    window.localStorage.setItem('jdm-site-theme', theme!);
    document.addEventListener('astro:after-swap', function () {
        if (localStorage.getItem(STORAGE_KEY) === 'dark')
            document.documentElement.classList.toggle('dark', true);
    });
</script>
