header {
  background-image: url('/images/test_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  height: 5em;
  width: 100%;

  &::before {
    background-color: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(2px) saturate(150%);
    -webkit-backdrop-filter: blur(2px) saturate(150%);
    content: '';

    position: absolute;
    height: 5em;
    width: 100%;
  }

  &::after {
    align-items: center;
    animation: animation-wave-x 10s linear infinite reverse;

    background-repeat: no-repeat;
    background: linear-gradient(90deg, #fff0 70%, #fff6 95%, #fff0);
    background-size: 500% 500%;

    content: "";

    position: absolute;

    bottom: 0;

    height: 1px;
    width: 100%;
  }

  & > .header_container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    max-width: 1000px;
    width: min(1000px, 100%);

    margin: 0 auto;
    text-align: center;

    & > h3 {
      font-size: 1.1rem;
      margin: 0.5em auto;

      position: relative;
      z-index: 2;
    }
  }
}
