
.loading_spinner {
  & > svg {
    width: 3.75em;
    transform-origin: center;
    animation: rotate 2s linear infinite;
  }

  & > svg > circle {
    fill: none;
    stroke: var(--ui-light-pink);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    strokeLinecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}
