@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --light-grey: rgb(41 41 41 / 1);
  --mid-grey: rgb(32 32 32 / 1);
  --dark-grey: rgb(23 23 23 /1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--mid-grey);
  background: -moz-radial-gradient(circle, var(--light-grey) 0%, var(--mid-grey) 50%, var(--dark-grey) 100%);
  background: -webkit-radial-gradient(circle, var(--light-grey) 0%, var(--mid-grey) 50%, var(--dark-grey) 100%);
  background: radial-gradient(circle, var(--light-grey) 0%, var(--mid-grey) 50%, var(--dark-grey) 100%);

  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-header {
  font-family: 'Nunito';
}

.loading {
  background: var(--mid-grey);
  background: -moz-radial-gradient(circle, var(--light-grey) 0%, var(--mid-grey) 50%, var(--dark-grey) 100%);
  background: -webkit-radial-gradient(circle, var(--light-grey) 0%, var(--mid-grey) 50%, var(--dark-grey) 100%);
  background: radial-gradient(circle, var(--light-grey) 0%, var(--mid-grey) 50%, var(--dark-grey) 100%);

  mask-image: linear-gradient(black var(--stop, 100%),
      transparent var(--stop, 100%));
  display: var(--loading-display, flex);
}

h1 {
  font-size: clamp(3.11rem, calc(2.07rem + 5.21vw), 6.1rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }

  html {
    color-scheme: dark;
  }
}
