@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-header {
  font-family: 'Nunito';
}

h1 {
  font-size: clamp(3.11rem, calc(2.07rem + 5.21vw), 6.1rem);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
