footer {
  flex: 0 0 auto;

  margin-top: 1em;

  position: relative;
  z-index: 2;

  & > .footer_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    max-width: min(1100px, 100%);
    margin: 0 auto;
    padding: 1em;

    & > .copyright > div:last-child {
      color: var(--ui-monochrome-06-hex);
      font-size: 0.75em;
    }

    & > .social_links {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  footer {
    & > .footer_container {
      flex-direction: column;
      justify-content: center;
      gap: 1em;

      text-align: center;
    }
  }
}
