main {
  &.error-404 {
    height: 68vh;

    max-width: 1000px;
    width: min(1000px, 100%);

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .message {
      display: flex;
      flex-direction: column;

      font-size: 16px;
      text-align: center;

      h1 {
        font-size: 10em;

        @media (max-width: 300px) {
          font-size: 50vw;
        }
      }

      h3 {
        color: var(--ui-light-pink);
        font-size: 1em;
        font-weight: lighter;

        @media (max-width: 300px) {
          font-size: 5vw;
        }
      }
    }
  }
}
