.post-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;

  width: 100%;

  & > .post-card {
    background-color: rgba(var(--ui-monochrome-04-rgb), 1.0);

    border-radius: 0.5em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;

    height: 100%;
    max-width: 100%;
    width: 100%;

    & > .post-card-banner {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;

      height: 140px;
      width: 140px;

      &.no-banner {
        background: linear-gradient(
          rgb(var(--ui-monochrome-06-rgb)),
          rgb(var(--ui-monochrome-05-rgb))
        );

        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      & > img {
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;

        object-fit: cover;
        object-position: right;

        height: 100%;
        width: 100%;
      }
    }

    & > .post-card-content {
      display: flex;
      flex-direction: column;

      height: 140px;
      width: calc(100% - 140px);

      & > .post-card-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 1em 2em;

        & > .post-card-title {
          font-weight: bold;
        }

        & > .post-card-date {
          margin-left: auto;
        }
      }

      & > .post-card-description {
        padding: 0em 2em;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .post-card-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 100%;

    & > .post-card {
      background-color: rgba(var(--ui-monochrome-04-rgb), 1.0);

      border-radius: 0.5em;

      display: flex;
      flex-direction: column;

      padding: 0;

      height: 100%;
      max-width: 100%;
      width: 100%;

      & > .post-card-banner {
        border-radius: 0.5em 0.5em 0 0;

        max-height: 100px;
        width: 100%;

        & > img {
          border-radius: 0.5em 0.5em 0 0;
          object-fit: cover;
          max-height: 100px;
          width: 100%;
        }

        &.no-banner {
          display: none;
        }
      }

      & > .post-card-content {
        text-align: center;

        height: auto;
        width: 100%;

        &.no-banner {
          & > .post-card-header,
          & > .post-card-header > .post-card-title {
            border-radius: 0.5em 0.5em 0 0;
          }
        }

        & > .post-card-header {
          background: linear-gradient(
            rgb(var(--ui-monochrome-05-rgb)),
            rgb(var(--ui-monochrome-04-rgb))
          );

          display: flex;
          flex-direction: column;

          padding: 0;

          & > .post-card-title {
            font-weight: bold;
            text-align: center;

            padding: 0.5em 0;
            width: 100%;

            background: linear-gradient(
              rgb(var(--ui-monochrome-04-rgb)),
              rgb(var(--ui-monochrome-01-rgb))
            );
          }

          & > .post-card-date {
            padding: 0.5em 0;
            width: 100%;

            background: rgb(var(--ui-monochrome-05-rgb));
          }
        }

        & > .post-card-description {
          padding: 0.5em;
        }
      }
    }
  }
}
