.share_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.69em;


  & > a {
    text-decoration: none;
    border: none;

    & > svg {
      fill: var(--syntax-white);

      transition: all 150ms ease-in-out;

      &::hover {
        fill: orange;
        color: orange;
      }
    }
  }
}
