---
import { nav_links } from '../../constants/nav_links';

import './nav.scss';
---

<nav>
  <div class='nav_container'>
    {
      nav_links
        .filter((link: any) => !link.hidden)
        .map((link: any) => (
          <a
            key={link.label}
            class={'nav-item'.concat(
              Astro.url.pathname.includes(link.href) && link.href != '/'
                ? ' active'
                : ''
            )}
            {...link}
          >
            <span class='nav-item-label'>{link.label}</span>
          </a>
        ))
    }
  </div>
</nav>
