nav {
  background-color: rgb(var(--ui-monochrome-04-rgb));

  height: 56px;
  max-height: 56px;
  width: 100%;

  position: sticky;
  top: 0;

  &::after {
    align-items: center;
    animation: animation-wave-x 10s linear infinite reverse;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #fff0 70%, #fff6 95%, #fff0);
    background-size: 500% 500%;
    content: " ";
    height: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  & > .nav_container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    gap: 1em;

    margin: 0 auto;

    height: 56px;
    max-height: 56px;

    width: min(1000px, 100%);

    & > .nav-item {
      color: #FAB28E;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      border-bottom: 2px solid transparent;

      padding: 1em;

      transition: all 150ms ease-in-out;

      &.active {
        border-color: #FAB28E;
        color: var(--syntax-gold);
      }

      &:not(.active) {
        border-color: transparent;
        color: var(--syntax-grey);
      }

      &:hover {
        border-color: #F09383;
        color: #F09383;

        cursor: pointer;
      }

      & > .nav-item-label {
        display: flex;
      }

      & > .nav-item-icon {
        display: flex;
      }
    }
  }
}
