main.post-page {
  width: min(1000px, calc(100% - 2em));
  max-width: 1000px;

  & > .post-container {
    margin: 0 auto;

    width: min(1000px, calc(100% - 2em));
    max-width: 1000px;

    & > .post-banner {
      img {
        -webkit-box-shadow: 0px 10px 25px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 25px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 10px 25px -6px rgba(0, 0, 0, 0.75);

        border-radius: 0.5em;
        width: 100%;

        object-fit: cover;
        max-height: 130px;
      }
    }

    & > .post-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & > .tags {
        text-align: left;
        max-width: 320px;
      }
    }

    & > .post-content {
      max-width: 1000px;

      & > * {
        max-width: 1000px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main.post-page {
    width: min(1000px, calc(100% - 2em));
    max-width: 100%;

    & > .post-container {
      width: min(1000px, 100%);
      max-width: 1000px;

      & > .post-banner {
        margin: -1em;

        img {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;

          border-radius: 0;
          min-height: 4em;
        }
      }

      & > .post-header {
        background: linear-gradient(
          rgb(var(--ui-monochrome-05-rgb)),
          rgb(var(--ui-monochrome-01-rgb))
        );

        margin: -1em;
        flex-direction: column;

        padding-bottom: 1em;
      }

      & > .post-content {
        width: min(1000px, calc(100% - 2em));
        max-width: 1000px;
        word-wrap: break-word;

        & > * {
          width: min(1000px, 100%);
          max-width: 100%;
        }

        & > pre,
        & > pre > code {
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;

          overflow-x: auto;
        }
      }
    }
  }
}
