main.post-page {
  width: min(1000px, calc(100% - 2em));
  max-width: 1000px;

  & > .post-container {
    margin: 0 auto;

    width: min(1000px, calc(100% - 2em));
    max-width: 1000px;

    & > .post-banner {
      width: 100%;

      background-color: rgba(var(--ui-monochrome-03-rgb), 1.00);
      border: 1px solid var(--ui-monochrome-05-hex);
      border-radius: 0.5em;

      filter: drop-shadow(0px 0px 6px var(--ui-monochrome-05-hex));

      img {
        filter: drop-shadow(2px 4px 8px #000);

        border-radius: 0.5em;
        width: 100%;

        object-fit: cover;
        max-height: 130px;
      }
    }

    & > .post-header {
      width: calc(100% - 2em);

      background-color: rgba(var(--ui-monochrome-04-rgb), 1.00);
      border: 1px solid var(--ui-monochrome-05-hex);
      border-radius: 0.5em;

      filter: drop-shadow(0px 0px 6px var(--ui-monochrome-04-hex));

      margin-top: 1em;
      padding: 0 1em;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & > .tags {
        text-align: left;
        max-width: 320px;
      }
    }

    & > .post-content {
      max-width: 1000px;

      & > * {
        max-width: 1000px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main.post-page {
    width: min(1000px, calc(100% - 2em));
    max-width: 100%;

    & > .post-container {
      text-align: center;

      padding-top: 1em;

      width: min(1000px, 100%);
      max-width: 1000px;

      & > .post-banner {
        margin: -1em auto 0;

        img {
          filter: none;

          border-radius: 0;
          min-height: 4em;
        }
      }

      & > .post-header {
        background: linear-gradient(
          rgb(var(--ui-monochrome-05-rgb)),
          rgb(var(--ui-monochrome-01-rgb))
          );

        flex-direction: row;

        margin: 1em auto 0;

        & > .title {
          & > * {
            margin: 0.5em;
          }
        }

        & > .tags > .share_links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }

      & > .post-content {
        max-width: 1000px;

        word-wrap: break-word;

        & > * {
          max-width: 100%;
        }

        & > pre,
        & > pre > code {
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;

          overflow-x: auto;
        }
      }
    }
  }
}
